[flake8]
#ignore=E501,E225,E261,W391,E241,E203,W292,W391
#ignore=E501

exclude=
  .svn,
  CVS,
  .bzr,
  .hg,
  .git,
  __pycache__,
  .tox,
  .eggs,
  *.egg,
  docs,
  */migrations/
max-complexity=6
max-line-length = 119
statistics=True
jobs=1
