coreapi
requests
coverage
datapunt-authorization-django
datapunt-authorization-levels
dateutils
django-braces
django-debug-toolbar
django-extensions
django-filter
django-jenkins
django-shotgun
django-sql-explorer
Django
djangorestframework-gis
djangorestframework
drf-extensions
drf-hal-json
factory-boy
Faker
flake8
Markdown
openapi-codec
openpyxl
psycopg2-binary
python-dateutil
python-keystoneclient
python_swiftclient
PyYAML
sqlparse
uritemplate
urllib3
